PANDAS

Veri söz konusu olduğunda Pandas kütüphanesine işimiz düşer. Pandas, veri işlemesi ve analizi için kullanılan bir kütüphanedir.

Veri setleri genellikle .csv uzantılı dosyalarda bulunur. csv ifadesinin açılımı 'comma-separated values' dir. Yani virgülle ayrılmış değerler anlamına gelir.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#pokemonlarla ilgili bilgiler içeren veri setini import edelim:
data = pd.read_csv('pokemon.csv')

Pandas iki çeşit data type'den oluşuyor. 

    -> Series
    -> Data Frame
    
Series ile DataFrame arasındaki fark şudur: 
    
    Series, bir vektör şeklindeki tek boyutlu yapılardır.

In [3]:
#series oluşturalım:
series = data['Defense']        # data['Defense'] = series
print(type(series))
#data'nın Defense'ini aldık ve bir seri oluşturmuş olduk.

#data frame oluşturalım:
data_frame = data[['Defense']]  # data[['Defense']] = data frame
print(type(data_frame))
#data'nın bir liste içerisinde Defense'ini alırarak data frame oluşturmuş olduk.

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

Şimdi filtering kavramını inceleyelim.

filtreing işlemi ile istenen kısıtların sağlanması mümkündür. 

Örneğin: Pokemon'ların Defense'leri 200 den büyük olanları bulmak istersek, bir filtre oluşturabiliriz. Kısıtımızı bir değişkene atayıp sonrasında data[kısıtı_tutan_değişken] ifadesini yazdırırsak, sadece kısıtımızı sağlayan satırları görebiliriz.

In [4]:
x = data['Defense']>200     
data[x]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
230,231,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

Pokemon'ların Defense değerleri 200'den büyük olsun ve aynı zamanda Attack değerleride 100'den büyük olsun durumu gerçekleştirelim. Bu durumda her iki şartında sağlanması istendiği için numpy kütüphanesi içerisinde bulunan logical_and() metoduna ihtiyacımız olacak. 

Sonrasında kısıtımızı data[] ifadesinde köşeli parantez içerisine yazarsak, sadece kısıtımızın True olarak döndürdüğü yani kısıtımızın sağlandığı değerleri görürüz.

In [5]:
data[np.logical_and(data['Defense']>200, data['Attack']>100 )]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

Ayrıca yukarıda logical_and() metodu kullanarak yaptığımız işlemi and operatörü (&) ile de yapmamız mümkün.

In [6]:
data[(data['Defense']>200) & (data['Attack']>100)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
224,225,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
333,334,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False