ITERATORS

list, string ve dictionary birer iterable nesneleridir. Aslında liste içerisindeki elemanlara for döngüsü ile erişmek gibi bir işlem yapmakta.

Koda dökelim.

In [2]:
name = "black"
it = iter(name)
print(next(it))    
print(*it)

b
l a c k

it = iter(name) satırında: name değişkeninde tutulan veriye yineleme uygulayacağız.

print(next(it)) satırında: it değişkeninde tutulan, yineleme uygulayacağımız "black" stringinin ilk harfini yazdırdık.

print(*it) satırında: "black" stringinin geri kalan harflerini elde ederiz.

Iterable yapısının yaptığı işlemi for, while döngüleriyle de yapabildiğimiz için genelde iterable yapısını kullanmayız. Fakat bilmemizde fayda var.

zip() METODU

In [3]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
z = zip(list1,list2)
print(z)      #zip objesini oluşturduk.
z_list = list(z)     #z'de tutulan değerleri listeye çevirdik.
print(z_list)

<zip object at 0x0000024E359C9F80>
[(1, 5), (2, 6), (3, 7), (4, 8)]

list1 'deki değerler indisleri ifade eder. list2'deki elemanlar, list1'deki indis olarak nitelendirdiğimiz elemanlara karşılık gelen değerlerdir. 1.indeks 5, 2.indeks 6, 3.indeks 7, 4.indeks 8 şeklinde yazdırmak istersek zip() metodundan yardım alabiliriz.

Birde unzip yapalım. zip(*) şeklinde bir yapı kullanırız. unzip işleminden sonra 2 adet tuple obje döner. 

Koda dökelim.

In [4]:
un_zip = zip(*z_list)
un_list1,un_list2 = list(un_zip) 
print(un_list1)
print(un_list2)
print(type(un_list2))

(1, 2, 3, 4)
(5, 6, 7, 8)
<class 'tuple'>

LIST COMPREHENSİON

Çok sık kullandığımız bir yapıdır. Bu yapıyı pandas kütüphanesinde yeni feature'ler oluşturmak için kullanacağız. 

Mesela, num1 = [1,2,3] ve biz bunu num2 = [2,3,4] şeklinde yapmak istiyoruz. Bu, for döngüsü ile yapılabilir ancak gereksiz uzun olacaktır. List comprehesion ile kolaylıkla yapabiliriz.

In [5]:
num1 = [1,2,3]
num2 = [i + 1 for i in num1 ]
print(num2)

[2, 3, 4]

num1 listesinin içerisindeki her bir elemana 1 ekleyerek döndürür. Ve elde edilen ifade num2 listesinde tutulur.

In [6]:
# Conditionals on iterable
num1 = [5,10,15]
num2 = [i**2 if i == 10 else i-5 if i < 7 else i+5 for i in num1]
print(num2)

[0, 100, 20]

num2 = [i**2 if i == 10 else i-5 if i < 7 else i+5 for i in num1] satırını açıklayalım:

num1 listesinin içerisinde dolaşacak bir for oluşturduk. num1 içerisindeki her bir eleman sırasıyla i içerisinde tutulacak. 

" i**2 if i == 10 "  ifadesi ile yapılan, i nin o anki iterasyondaki değeri 10 ise i'nin karesi alınır. 

" else i-5 if i < 7 " ifadesi ile yapılan, else if durumudur. Yani i değeri 7 den küçük ise i değerinden 5 çıkarılır.

" else i+5 for i in num1 " ifadesi ile yapılan, i değeri 10 veya 7'den küçük değil ise i değerine 5 eklenir.

Peki bunu pandas ile nasıl kullanacağımıza bakalım.

In [8]:
import pandas as pd

data = pd.read_csv("pokemon.csv")

threshold = sum(data.Speed)/len(data.Speed)
print("threshold :",threshold)

data["speed_level"] = ["high" if i > threshold else "low" for i in data.Speed]
data.loc[:10,["speed_level","Speed"]] # we will learn loc more detailed later

threshold : 68.2775

   speed_level  Speed
0          low     45
1          low     60
2         high     80
3         high     80
4          low     65
5         high     80
6         high    100
7         high    100
8         high    100
9          low     43
10         low     58

Bir üst blokta olanları açıklayalım.

pokemon.csv veri setini çağırdık. Sonra bir eşik değeri(threshold) belirledik. threshold değişkenine, veri setindeki hız sayısını(speed sütunundaki veri adeti) veri setindeki tüm hızların(speed sütunu) toplamına bölüm sonucunu atadık ve böylece eşik değeri, ortalama hız değeri oldu. Sonra data'mıza speed_level isimli yeni bir feature(sütun) oluşturuyoruz. data.Speed objesinin içerisindeki her bir elemana sırasıyla i dedik. "if i > threshold" şartında belirtildiği üzere o anki iterasyondaki i değeri  threshold değerinden büyük ise "high" demektir. Eğer tam tersi ise "low" demektir. Böylelikle speed_level sütununa ait veriler "high" ve "low" ifadelerinden oluşacaktır.