CONCATENATING DATA

İki tane dataframe'i birleştirebilmemiz mümkündür.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("pokemon.csv")

In [3]:
data1 = data.head()
data2= data.tail()
conc_data_row = pd.concat([data1,data2],axis =0,ignore_index =True) 
conc_data_row

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
6,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
7,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
8,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
9,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

Yukarıda olanları açıklayalım.

Veri setinin ilk 5 sample'sini data1 değişkenine atadık. Son 5 sample'sini de data2 değişkenine atadık. 

data1 ve data2 de tutulanları axis=0 olmasından dolayı vertical şekilde yani yukarıdan aşağıya doğru yerleştirdik. Ve ignore_index =True parametresinden dolayı soldan ilk sütunda görüleceği üzere indeksler elde edildi.

In [4]:
data1 = data['Attack'].head()
data2= data['Defense'].head()
conc_data_col = pd.concat([data1,data2],axis =1) 
conc_data_col

   Attack  Defense
0      49       49
1      62       63
2      82       83
3     100      123
4      52       43

Bu dataframe'leri horizontal yani yatay bir şekildede birleştirebiliriz. Ve yukarıda bu işlem yapılmıştır. 

'Attack' sütununun ilk 5 satırını data1'e atadık. 'Defense' sütununun ilk 5 satırını data2'ye atadık. 

axis=1 parametresinden dolayı sütunlar yan yana birleştirilir. Böylece Attack'ın ilk 5 sapmle'sini ve Defense'nin ilk 5 sample'sini birleştirdik.

DATA TYPES

In [5]:
int(1.8)

1

Yukarıda yapılan, 1.8 değerinin int tipine çevrilmesidir.

In [6]:
float("2.5")

2.5

Yukarıda yapılan, string ifadenin float tipine çevrilmesidir.

In [7]:
data.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

Yukarıda yapılan, veri setindeki sütunların veri tipleri görüntülenmiştir.

In [8]:
data['Type 1'] = data['Type 1'].astype('category')
data['Speed'] = data['Speed'].astype('float')

In [9]:
data.dtypes

#                int64
Name            object
Type 1        category
Type 2          object
HP               int64
Attack           int64
Defense          int64
Sp. Atk          int64
Sp. Def          int64
Speed          float64
Generation       int64
Legendary         bool
dtype: object

Yukarıda yapılan, Type1 sütununun veri tipi object yani string'ti ve bunu category tipine dönüştürdük.

Ve Speed sütununun tipi int idi, float tipine dönüştürüldü.