Soru-1:

In [4]:
a = {"x":2,"y":3}

b = dict(zip(a.values(),a.keys()))
b

{2: 'x', 3: 'y'}

Soru-2:

In [3]:
import pandas as pd



dictionary = {"NAME":["ali","veli","kenan","hilal","ayse","evren"],

              "AGE":[15,16,17,33,45,66],

              "MAAS": [100,150,240,350,110,220]}



dataFrame1 = pd.DataFrame(dictionary)



pd.concat([dataFrame1["NAME"],dataFrame1["MAAS"]],axis=0)

0      ali
1     veli
2    kenan
3    hilal
4     ayse
5    evren
0      100
1      150
2      240
3      350
4      110
5      220
dtype: object

Soru-3:

In [6]:
import pandas as pd

dictionary = {"NAME":["ali","veli","kenan","hilal","ayse","evren"],

              "AGE":[15,16,17,33,45,66],

              "MAAS": [100,150,240,350,110,220]}

dataFrame1 = pd.DataFrame(dictionary)



dataFrame1.columns

Index(['NAME', 'AGE', 'MAAS'], dtype='object')

Soru-4:

In [9]:
import pandas as pd

dictionary = {"NAME":["ali","veli","kenan","hilal","ayse","evren"],

              "AGE":[15,16,17,33,45,66],

              "MAAS": [100,150,240,350,110,220]}

dataFrame1 = pd.DataFrame(dictionary)

filtre1 = dataFrame1.MAAS > 300
print(dataFrame1[filtre1])

    NAME  AGE  MAAS
3  hilal   33   350

Soru-5:

In [10]:
a = [0,1,2,3,4]

for a[0] in a:

    print(a[0])

0
1
2
3
4

Soru-6:

In [11]:
y = 3

z = lambda x:x*y

z(3)

9

Soru-7:

In [14]:
def s(x, y = 2):

    c = 2

    for i in range(y):

        c = c + x

    return c

print(s(2))

print(s(2,3))

6
8

In [15]:
num1 = [3,2,5,1]

num2 = [i**2 if i % 3 == 2 else i-1  for i in num1]

print(num2)

[2, 4, 25, 0]